.navfix {
  @apply w-full z-50;
  position: fixed;
}

.navbar {
  @apply px-6 mx-24 my-3 bg-[rgb(244,127,40)] rounded-2xl;
  @apply md:flex md:justify-between;
}

.collapse__Expanded {
  @apply shadow-md;
}

.navHeader {
 @apply flex items-center gap-3 justify-between;
}

.navContanter {
  @apply flex items-center justify-end max-h-0 overflow-hidden opacity-0 ; /* collapsed */
  transition: all 0.5s ease-in-out;
  @apply md:my-auto md:overflow-visible md:opacity-100;
}

.footerContanter {
  @apply flex items-center justify-start max-h-0 overflow-hidden opacity-0 ; /* collapsed */
  transition: all 0.5s ease-in-out;
  @apply md:max-h-64 md:overflow-visible md:opacity-100;
}

.navList {
  @apply md:flex md:flex-row md:gap-6 ;
}

.collapse__Expanded .navContanter {
  @apply  max-h-64 opacity-100;
}

.collapse__Expanded .footerContanter {
  @apply  max-h-64 opacity-100;
}

.navToggler {
  @apply w-16 h-16 flex justify-center items-center bg-slate-100 rounded-full;
  @apply md:hidden;
}

.collapse__Expanded .navToggler {
  @apply shadow-md;
}

