.payCardList  {
  list-style-image: url("/public/tick.svg");
  padding-left: 3rem;
}

.payCardList .payCardListItem {
  @apply text-blue-950 font-semibold mt-6;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.payCardContainer {
  @apply shadow-lg;
}

.payCardContainer.popular { 
  transform: scale(1.1);
}

.payCardContainer:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.payCardContainer.popular:hover { 
  @apply scale-[1.15] transition-transform duration-300;
}

.payCardHeader {
  position: relative;
}
.popular .payCardHeader::before {
  content: url("/public/shengdanliwu.svg");
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10%;
  background-color: transparent;
}